# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Keep pubspec.lock for apps ✅
# (Do NOT ignore it)


# Metadata
.metadata


# IDEs
.idea/
.vscode/
*.iml


# Android
android/.gradle/
android/local.properties
android/app/build/


# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework


# macOS
macos/Flutter/ephemeral/


# Linux
linux/flutter/ephemeral/


# Windows
windows/flutter/ephemeral/


# Logs
*.log


# Misc
.DS_Store
Thumbs.db
